
replicaCount: 1

image:
  repository: registry.gitlab.com/dedi.triyadi.barnawan/app-itommey-01
  pullPolicy: Always
  tag: ""

nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 8080

ingress:
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: it-ommey.deditriyadi.my.id
      path: /

resources: {}
